h1 Uppdatera ditt träningspass!
form action="/trava/#{@id}/update" method="post" 
    input type="text" name="new_titel" placeholder="New Titel"
    input type="text" name="new_desc" placeholder="New Description"
    select name="group_id"
        -@group_names.each do |group|
            option value=group["id"] = group["name"]  
    input type="submit" value="Submit"