doctype html
html lang="en"
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title Trava
  body
    .container
      h1 Trava
  a href="/trava/index" Home
  == yield