form action="/trava/new" method="post"
    input type="text" name="new_title" placeholder="Workout Title"
    input type="text" name="new_desc" placeholder="New Description"
    input type="text" name="group_id" placehodler="Group id"
    input type="submit" name="Add"