form action="/trava/new" method="post"
    input type="text" name="new_title" placeholder="Workout Title"
    input type="text" name="new_desc" placeholder="Description"
    select name="group_id"
        -@group_names.each do |group|
            option value=group["id"] = group["name"]
    input type="submit" name="Add"