form action="/signin" method="post"
    input type="text" name="username" placeholder="Username"
    input type="text" name="beginner_g" placeholder="First group"
    input type="password" name="password" placeholder="Password"
    input type="password" name="pwd_confirm" placeholder="Confirm Password"
    input type="submit" name="Sign in"